@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic);

$blue: #09518f;
$bgDark: #5956e9;
$blueBorder: #1074cb;
$jumbotronBlue: #2a313a;
$gray: #5d5d5d;
$base-gray: #f4f4f4;
$mediumGray: #e3e4e6;
$jumbotronGray: #6a6a6a;
$border-gray: #d9dee5;
$jumbotron-text-gray: #6f7782;
$jumbotron-text-white: white;
$textDarkColor: #676a6c;
$textLightColor: #a0a5a8;
$progress-green: #49d560;
$light-blue: #00acee;
$red: #eb4d5c;
$about-section-heading-blue: #074e8c;

// BASE STYLES END

// PAGE SPECIFIC STYLES
#aboutMain {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .jumbotron {
    width: 100%;
    height: 530px;
    background: $bgDark;
    position: relative;
    margin: 0;
    z-index: 3;
    border-radius: 0px;

    .imgLayerContainer {
      position: relative;
      max-width: 1100px;
      margin: 0 auto;
      display: flex;
      justify-content: center;

      img {
        max-width: 95vw;
      }

      .teamImage {
        // position: absolute;

        img {
          position: relative;
          z-index: 3;
        }
      }

      .circlesContainer {
        position: absolute;
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: center;

        .imgA {
          position: absolute;
          z-index: 2;
        }

        .imgB {
          position: absolute;
          z-index: 5;
        }
      }
    }

    .jumbotronInner {
      max-width: 1350px;
      margin: 0 auto;

      a {
        text-decoration: none;
      }

      .topBox {
        max-width: 950px;
        margin: 0 auto;

        .contentBox {
          margin: 0 50px 35px;

          h1 {
            text-align: center;
            color: #fff;
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 20px;
          }

          p {
            text-align: center;
            color: #f4f4f4;
            font-size: 18px;
            font-weight: 500;
            margin: 0;
            margin-bottom: 15px;
          }
        }
        //.content-box ENDS
      }
    }

    @media (max-width: 1401px) {
      height: 595px !important;

      .jumbotronInner {
        max-width: 900px;

        .topBox {
          max-width: 900px;

          .contentBox {
            margin-top: 30px;
            margin-bottom: 50px;

            h3 {
              font-size: 35px;
              margin: 5px 0px 20px 0px;
              color: #6f7782;
              font-weight: 300;
            }
          }
          //.content-box ENDS
        }
      }
    }

    @media (max-width: 1000px) {
      .imgLayerContainer {
        width: 100%;
      }
    }

    @media (max-width: 815px) {
      .jumbotronInner {
        max-width: 600px;
      }
    }

    @media (max-width: 640px) {
      height: 400px !important;

      .jumbotronInner {
        max-width: 550px;
        padding: 0 20px;
      }

      .imgA,
      .imgB,
      .teamImage {
        display: none;
      }
    }

    @media (max-width: 420px) {
      .jumbotronInner {
        max-width: 600px;
        padding: 0 20px;
      }
    }

    @media (max-width: 400px) {
      .jumbotronInner {
        .top-box {
          .content-box {
            margin: 30px 0;

            h1 {
              font-size: 35px;
            }

            p {
              font-size: 16px;
            }
          }
          //.content-box ENDS
        }
      }
    }
  }

  .storyContainer {
    height: 100%;
    width: 100%;
    margin-top: 150px;

    @media (max-width: 640px) {
      margin-top: 80px;
    }

    .containerDivider {
      margin-top: 100px;

      @media (max-width: 640px) {
        margin-top: 50px;
      }
    }

    .needContainer,
    .techContainer,
    .originStoryContainer,
    .todayContainer {
      max-width: 950px;
      margin: 0 auto;
      padding: 0 20px;

      @media (max-width: 815px) {
        width: 100%;
      }

      .imgContainer {
        width: 100%;
        display: flex;
        justify-content: center;

        img {
          margin: 50px auto;
        }
      }

      h3 {
        color: $about-section-heading-blue;
      }

      p {
        font-size: 15px;
        margin-top: 20px;
        color: $textDarkColor;

        @media (max-width: 640px) {
          font-size: 13px;
        }
      }

      ul {
        margin-top: 30px;
        list-style-image: url("https://apimatic.io/img/theme/aboutUs/bullet.svg");

        li {
          line-height: 25px;
          padding-left: 5px;
          color: $textDarkColor;
        }
      }
    }
  }
}
