.title {
  font-size: clamp(3rem, 15vmin, 8rem);
  font-family: 'Poppins', sans-serif;
  color: hsl(0 0% 98%);
}

.underlined {
  /*   background: red; */
  position: relative;
}

.underlineMask:after {
  content: "";
  position: absolute;
  top: 95%;
  aspect-ratio: 3 / 1;
  left: 50%;
  border-radius: 50%;
  border: 6px solid hsl(280 80% 50%);
  /* Use a conic gradient mask to hide and show the bits you want */
  --spread: 360deg;
  --start: 0deg;
  transform: translate(-80%, 5%);
  width: 130%;
  mask: conic-gradient(
    from var(--start),
    white 0 var(--spread),
    transparent var(--spread)
  );
}


.underlineOverflow:after {
  content: "";
  position: absolute;
  top: 95%;
  width: 160%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid hsl(280 80% 50%);
  /* Use a conic gradient mask to hide and show the bits you want */
  --spread: 140deg;
  --start: 290deg;
  mask: conic-gradient(
    from var(--start),
    white 0 var(--spread),
    transparent var(--spread)
  );
}



